*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: Arial, Helvetica, sans-serif;
}



.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .col{
      float: left;
  }

  
header{
    height: 80px;
    background-color: #3161e0;
    
}


.font-1{
    font-size: 2em;
}

.font-2{
    font-size: 1rem;
}

.nav{
    line-height: 80px;
}

.logo{
    width: 15%;

}

.logo img{
    width: 60%;
    vertical-align: middle;
    height: 40px;
  }


.button{
    width: 15%;
    text-align: right;

}
.button a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

.center{
    width: 70%;
    text-align: center;

}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    font-size: 0.8em;
    margin-right: 2em;
    text-decoration: none;
    vertical-align: middle;
}

.center .list a{
    text-decoration: none;
    color: white;

}

.button .small-button{
    padding: 0.6em 1em;
    background-color: white;
    border-radius: 14px;
    color: black;
}

.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 8em 0;
}

.banner-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}

.banner-title{
    font-size: 2.5em;
    padding-bottom: 1em;
    color: white;
}

.banner-text{
    color: white;
    padding-bottom: 2em;
    line-height: 2em;
}

.banner-button{
    text-decoration: none;
    padding-top: 2em;
}

.banner-button{
    margin-right: 1.2em;
    padding: 0.6em 1em;
    background-color: white;
    border-radius: 14px;
    color: black;
}

.banner-button.black{
    color:white;
    background-color: black;
}

.col-image{
    width: 70%;
    text-align: center;
}

.col-image img{
    width: 60%;
}

.col-text{
    width: 30%;
    text-align: center;
    
}